.order {
  width: 100%;
  max-width: 296px;
  margin: 0 auto;
}
.back {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 700;
  margin: 15px 0;
}

.title {
  font-size: 17px;
  font-weight: 700;
}
.discounted {
  color: #ffffff;
  opacity: 0.5;
  text-decoration: line-through;
  font-size: 12px;
}
